@import 'nav.css';
@import 'burger.css';

.header {
    /* height: 500px; */
    background-size: 100%;
    background-position: 0px -150px;
    /* width: 100%;
    background-repeat: no-repeat; */
}

.logo {
    width: 150px;
    height: 70px;
}

.nav_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}